* {
    margin: 0;
    padding: 0;
}

/* Global Style */
body {
    background-color: lightpink;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    padding: 0;
}

/* Game Box Style */
.game-box {
        /* to make  it responsive */
    width: 80%;
    background-color: aliceblue;
    padding: 1% 2% 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;
    margin: 2% auto;
    /* to center it */
}

/* Game Header Style */
h1 {
    justify-content: center;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}


/* Game Board Style */

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
}

.card {
    width: 120px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
    /* to add 3D effect to cards when flipping */
    transform-style: preserve-3d;
    transition: all .3s; 
    backface-visibility: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* to make card face flipped from beginning, so when the card flips back, the face appears */
.front {
    transform: rotateY(180deg);
}

/* to add 3D effect to cards when hovering */
.card img:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}


/* Game Scores Style */
.game-scores {
    box-sizing: content-box;
    display: flex;
        /* to make it responsive */
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

/* Game Control Style */
.game-control {
    box-sizing: content-box;
    display: flex;
        /* to make it responsive */
    flex-wrap: wrap; 
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
}