/* Global Style */
body {
    background-color: lightpink;
    margin: 0 auto;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    padding: 0;
}

/* Game Box Style */
.game-box {
        /* to make  it responsive */
    width: 70%;
    background-color: aliceblue;
    padding: 1% 2% 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;
    margin: 2% auto;
    /* to center it */
}

/* Game Header Style */
h1 {
    justify-content: center;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}


/* Game Board Style */
.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Credit */
    gap: 10px;
}

/* Cards */




/* Game Scores Style */
.game-scores {
    box-sizing: content-box;
    display: flex;
        /* to make it responsive */
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

/* Game Control Style */
.game-control {
    box-sizing: content-box;
    display: flex;
        /* to make it responsive */
    flex-wrap: wrap; 
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
}